<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                <fieldset class="fieldset">
                    <form action="/login" method="post">
                        <label class="label">Email</label>
                        <input type="email" name="email" class="input" placeholder="Email" />
                        <label class="label">Password</label>
                        <input type="password" name="pswd" class="input" placeholder="Password" />
                        <div class="mt-4"><a class="link link-hover" href="/register">Non hai un account?</a></div>
                        <button class="btn btn-neutral mt-4" type="submit">Accedi</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>