<footer class="footer sm:footer-horizontal footer-center text-base-content p-4 shadow">
    <aside>
        <div class="inline-grid *:[grid-area:1/1]">
            <div class="status status-success animate-ping"></div>
            <div class="status status-success"></div>
        </div> Server Online
        <p>Copyright © <%- new Date().getFullYear() %> - All right reserved by WeSpeak.</p>
    </aside>
</footer>