<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('head') %>
    </head>
    <body>
        <%- include('navbar') %>
        <%- body %>
        <%- include('footer') %>
    </body>
</html>