<!DOCTYPE html>
<html lang="it" data-theme="night">
    <head>
        <%- include('head') %>
    </head>
    <body>
        <%- include('register-element') %>
        <%- include('footer') %>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </body>
</html>