<div class="card rounded-box grid h-full m-4 w-380 grow place-items-center">
    <li class="p-4 pb-2 text-m opacity-60 tracking-wide list-none">
        Premi
        <kbd class="kbd kbd-sm">Shift DX</kbd>
        per creare un nuovo thread
    </li>

    <ul class="list bg-base-100 rounded-box shadow-md h-250" style="overflow: scroll;">

        <dialog id="my_modal_3" class="modal">
            <div class="modal-box">
                <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <h3 class="text-lg font-bold mb-2">Crea un nuovo thread</h3>
                <form action="/createThread" method="post">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Titolo</legend>
                        <input type="text" name="title" class="input" placeholder="Scrivi il titolo" />
                    </fieldset>

                    <fieldset class="fieldset mb-2">
                        <legend class="fieldset-legend">Descrizione</legend>
                        <input type="text" name="description" class="input" placeholder="Scrivi la descrizione" />
                    </fieldset>

                    <button class="btn btn-outline" type="submit">Crea</button>
                </form>
            </div>
        </dialog>
        
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Ultimi threads caricati (<%= resAllThreads.length %>)</li>
        <%  %>
        <% for (var i = 0; i < resAllThreads.length; i++) { %>
        <li class="list-row">
            <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp"/></div>
            <div>
            <div><%= resAllThreads[i].owner %></div>
            <div class="text-xs uppercase font-semibold opacity-60"><%= resAllThreads[i].title %></div>
            </div>
            <p class="list-col-wrap text-xs">
            <%= resAllThreads[i].short_desc %>
            </p>
            <button class="btn btn-square btn-ghost">
            <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
            </button>
        </li>
        <% } %>
    </ul>
</div>