<!DOCTYPE html>
<html lang="it" data-theme="night">
    <head>
        <%- include('../layout/head') %>
    </head>
    <body>
        <main class="grid min-h-full place-items-center bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
            <div class="text-center">
                <p class="text-base font-semibold text-indigo-400">404</p>
                <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl">Pagina non Trovata</h1>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Torna al Sito</a>
                </div>
            </div>
        </main>
        <%- include('../layout/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </body>
</html>