<title>WeSpeak - Forum Online</title>
<meta charset="UTF-8">
<meta name="description" content="WeSpeak is a simple forum online">
<meta name="keywords" content="HTML, CSS, JAVASCRIPT, EJS, NODE, FORUM, WESPEAK">
<meta name="author" content="Matteo Giuliano">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />